@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lato-v22-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/lato-v22-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/lato-v22-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/lato-v22-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/lato-v22-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/lato-v22-latin-ext_latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/lato-v22-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
            url('../fonts/lato-v22-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('../fonts/lato-v22-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
            url('../fonts/lato-v22-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
            url('../fonts/lato-v22-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
            url('../fonts/lato-v22-latin-ext_latin-700.svg#Lato') format('svg'); /* Legacy iOS */
}
html{
    scroll-behavior: smooth;
}
body{
    margin:0;
    padding:0;
    text-align: center;
    font-family: 'Lato', sans-serif;
    background-color:#fff;
}
a:hover{
    cursor: pointer;
    text-decoration: none;
}
h1{
    font-size: 72px;
    line-height: 1.3em;
    letter-spacing: 5%;
    margin: 40px 0;
}
h2{
    font-size: 36px;
    margin: 0;
}
h3{
    font-size: 18px;
    margin: 0 10px 20px 10px;
}
p{
    font-size: 12px;
    margin: 5px 0 25px 0;
}
.container{
    width: 78%;
    margin: auto;
}
section{
    display: flex;
    padding: 60px 0;
    flex-direction: column;
}
.row{
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.row> div{

    display: inline-flex;
    flex-direction: column;
    width: 30%;
}

/* nav */
nav{
    position: absolute;
    top: 50px;
    color: #fff;
    width: 100%;
    z-index: 10;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}
nav ul > li{
    display: inline-flex;
    align-self: center;
}
nav ul > li:first-of-type{
    align-self: flex-start;
    margin-right: auto;
}
nav h1{
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    padding: 0 10px;
}
nav ul > li > a{
    display: inline-flex;
    position: relative;
    padding: 10px;
    font-size: 14px;
    text-transform:  uppercase;
    text-decoration: none;
    color:#fff;
}
nav ul > li:not(:first-of-type) > a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: all 0.3s ease 0s;
    width: 0;
}
nav ul > li >a:hover:after { 
    width: 100%; 
    left: 0; 
}
.active{
    font-weight: 700;
}
.alternative{
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(90deg, rgba(213, 32, 71, 1) 0%, rgba(238, 61, 27, 1) 100%);
    position: fixed;
    padding: 10px 0;
    box-shadow: 0px 5px 10px rgb(106, 17, 37, 0.1);
}
@media only screen and (max-width: 768px) {
    li:not(:first-of-type):not(:last-of-type){
        display: none;
    }
    nav h1{
        display: none;
    }
    li:last-of-type{
        position: relative;
        width: 20px;
        height: 2px;
        background-color: #fff;
    }
    #opener{
        position: absolute;
        width: 30px;
        height: 30px;
        top:-15px;
        left:-5px;
        z-index: 11;
    }
    #opener:hover{
        cursor:pointer;
    }
    li:last-of-type:before, li:last-of-type:after{
        content: '';
        display: block;
        position: absolute;
        width: 20px;
        height: 2px;
        background-color: #fff;
    }
    
    li:last-of-type:before{
        top: 5px;
        left: 0;
    }
    li:last-of-type:after{
        top: -5px;
        left: 0;
    }
    nav.opened{
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        position: fixed;
    }
    nav.opened .container{
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: fixed;
    }
    nav.opened ul{
        flex-direction: column;
        position: fixed;
        display: block;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    nav.opened ul>li{
        display: block!important;
    }
    nav.opened ul > li > a{
        color:#000;
        text-align: center;
        width: 100%;
        display: block;
    }
    nav.opened ul > li:not(:first-of-type) > a:after {    
        background: #000;
    }
    nav.opened li:last-of-type{
        position: relative;
        bottom: -30px;
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
        background: #000;
    }
    nav.opened li:last-of-type:after{
        transform: rotate(90deg);
        background-color: #000;
        top:0;
    }
    nav.opened #opener{
        transform: rotate(45deg);
    }
}
/* header */
header{
    background-image: url('../images/Rectangle3.png');
    background-position: center top;
    background-size:  cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    padding: 350px 0;
    position: relative;
}
.overlay{
    position: absolute;
    top:0;
    left:0;
    background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);
    width: 100%;
    height:100%;
    z-index: 1;
}
header .header-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    color:#fff;
}
.header-container p{
    font-size: 24px;
    margin: auto;
    max-width: 640px;
    margin-bottom: 40px;
}
.header-container a{
    padding: 15px 50px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    background: #FFFFFF;
    border-radius: 6px;
    color: #ED4C5C;
    transition: 0.3s all ease-in;
}
.header-container a:hover{
    background: #000;
    color: #ffffff;
    
}
@media only screen and (max-width: 768px) {
    .header-container p{
        font-size: 18px;
    }
    h1{
        font-size: 50px;
    } 
}
@media only screen and (max-width: 360px) {
    .header-container p{
        font-size: 16px;
    }
    h1{
        font-size: 40px;
    } 
}
/* sections */
section:first-of-type{
    background-color: #FAFAFA;
}
.frame{
    position: relative;
    flex-direction: column;
}
.frame img{
    max-width: 350px;
    display: block;
    width: 100%;
    margin: auto;
}
.paper{
    position:relative;
    top: -20%;
    margin: auto;
    width: 80%;
    background-color:#fff;
    padding: 20px;
    max-width: 300px;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.paper>a{
    color:#ED4C5C;
    font-size: 12px;
    text-decoration: none;
}
.bg{
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-size: 100px;
    line-height: 100%;
    text-align: center;
    color: rgba(16, 16, 16, 0.08);
}
section:last-of-type .content{
    padding-top: 40px;
    width: 80%;
    margin:auto;
}
section:last-of-type .content img{
    position: absolute;
    left: 50%;
    top: 40%;
    width: auto;
    transform: translate(-50%,-50%);
    color:#000;
}
@media only screen and (max-width: 768px) {
    section .row{
        flex-direction: column;
    }
    section .row>.frame{
        width: 100%;
    }
    .paper{
        top: -60px;
        margin: auto;
    }
    
}
/* footer */
footer{
    background-color: #ED4C5C;
    text-align: left;
    padding: 110px 0 80px 0;
    color: #fff;
}
footer .row{
    padding: 0;
}
footer .half{
    width: 50%;
    display: inline-flex;
}
footer h2{
    font-size: 36px;
    padding-bottom: 40px;
}
footer p{
    font-size: 14px;
    width: 80%;
}
form{
    align-self: center;
    width: 100%;
}
footer .half form> .row > .half{
    width: 45%;
    display: inline-flex;
}
footer .half form> .row{
    margin-bottom: 24px;
}
form button{
    width: 160px;
    border: 1.5px solid #fff;
    border-radius: 6px;
    height: 50px;
    background: transparent;
    color:#fff;
    text-transform: uppercase;
    font-size: 14;
    transition: 0.3s all ease-in;
}
form button:hover{
    background: #ffffff;
    color:#ED4C5C;
    cursor: pointer;
}
input, select{
    border: 1px solid #fff;
    padding: 20px 30px;
    color: #fff;
    background: transparent;
    font-size: 16px;
    border-radius: 6px;
    transition: 0.3s all ease-in;
    max-width: 100%;
    box-sizing: border-box;
}
input:focus, select:focus, input:hover, select:hover{
    outline: none;
    box-shadow: 2px 4px 12px 0px rgba(255, 255, 255, 0.2);
}
.row>input, .row>select{
    width: 100%;
}
select, ::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
}
select option{
    background-color: #fff;
    padding: 5px;
    color:#000;
}
select option:disabled{
    background-color: #fff;
    padding: 5px;
    color: rgba(255, 255, 255, 0.5);
}
@media only screen and (max-width: 768px) {
    footer .row{
        flex-direction: column;
        width: 100%;
    }
    footer .row:first-of-type>.half:first-of-type> input{
        margin-bottom: 24px;
    }
    footer .half{
        width: 100% !important;
    }
    input{
        width: 100%;
    }
    form{
        text-align: center;
    }
    footer p{
        width: 100%;
        padding-bottom: 20px;
    }
}
